{{message}}
<div class="container">
  <div class="navbar row well">
    <a href="#/" class="col-md-2 btn btn-primary">HOME</a>
    <a href="#/profile/:userId" class="col-md-2 btn btn-primary">Profile</a>
    <a href="#/post/:postId" class="col-md-2 btn btn-primary">Posts</a>
    <a href="#/create" class="col-md-2 btn btn-primary">Create Post</a>
    <a href="#/edit/:postId" class="col-md-2 btn btn-primary">Edit Post</a>
    <a href="#/login" class="col-md-2 btn btn-primary">Login</a>
    <a href="#/signup" class="col-md-2 btn btn-primary">Sign Up</a>
  </div>



</div>
