{{message}}

  <div class="jumbotron">
    <div class="row">
      <div class="well col-md-2 col-md-offset-1">
        <p>Image Title</p>
        <img src="http://placehold.it/200x200" alt="">

      </div>
      <div class="well col-md-7 col-md-offset-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro molestias, fugit commodi vero, nulla doloremque sequi nam aspernatur suscipit nihil libero omnis a ducimus quo. Velit, inventore eius molestiae!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro molestias, fugit commodi vero, nulla doloremque sequi nam aspernatur suscipit nihil libero omnis a ducimus quo. Velit, inventore eius molestiae!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro molestias, fugit commodi vero, nulla doloremque sequi nam aspernatur suscipit nihil libero omnis a ducimus quo. Velit, inventore eius molestiae!</p>

      </div>
    </div>
  </div>
<div class="container">

  <div class="well">
    <h1>Comments</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro molestias, fugit commodi vero, nulla doloremque sequi nam aspernatur suscipit nihil libero omnis a ducimus quo. Velit, inventore eius molestiae!</p>
  </div>


</div>
